body {
  background-color: #141414e0;
}
.hand {
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: butt;
}

.hand--thick {
  stroke-width: 7;
}

.hand--second {
  stroke: rgb(30, 255, 0);
}
.minute--design {
  stroke-width: 5;
  stroke: #001affb3;
}
.hour--design {
  stroke: #000000b9;
}

.link {
  color: #2375e0be;
}
.link:hover {
  color: #001affb3;
}

.display {
  font-weight: 800;
  font-size: 25px;
  color: beige;
}

.time-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.clock-container {
  padding: 1rem;
}

.credit {
  padding: 2rem;
  display: flex;
  justify-content: center;
  color: aliceblue;
  /* align-items: center; */
  margin: auto;
}

.clock-background {
  fill: #b8b8b8b9;
}

.hour_marker {
  stroke: #292929;
}

.clock-container text {
  font-size: 1.5rem;
}
