body {
  background-color: rgb(0, 128, 115);
  margin: 150px 0px 0px 200px;
}

.hand {
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: butt;
}

.hand--thick {
  stroke-width: 7;
}

.hand--second {
  stroke: rgb(30, 255, 0);
}
.minute--design {
  stroke: #001affb3;
}
.hour--design {
  stroke: #000000b9;
}


.link{
color: #001affb3;
  
}
.link:hover{
  color: red;
}